* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mypurple: #5144ba;
  --mygray: #8f90a6;
  --myblue: #023e8a;
  --mygreen: #00e7a1;
  --myred: #ff3b3b;
}

.text-mypurple {
  color: var(--mypurple);
}

.bg-mypurple {
  background-color: var(--mypurple);
}

.text-mygreen {
  color: var(--mygreen);
}

.bg-mygreen {
  background-color: var(--mygreen);
}
